
.spinner-wrap {
  position: relative;
  width: 100%;
  height: 100vh;
  background: $background-color;

  .loading {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-40%, -50%);
  }

  .text {
    color: #5d5c5c;
    display: block;
  }
  .loader-walk {
    position: absolute;
    top: -60%;
    left: 50%;
    transform: translate(-80%, -50%);
  }
}

.loader-walk {
  position: relative;
  width: $loader-size;
  height: $loader-height;
  margin: 0 auto;
  z-index: 9999;

  > div {
    content: "";
    width: $loader-dot-size;
    height: $loader-dot-size;
    background: $textColor;
    border-radius: 100%;
    position: absolute;
    animation: animate 2s linear infinite;
    &:nth-of-type(1) { animation-delay: -.4s; }
    &:nth-of-type(2) { animation-delay: -.8s; }
    &:nth-of-type(3) { animation-delay: -1.2s; }
    &:nth-of-type(4) { animation-delay: -1.6s; }
  }
}

@keyframes animate {
  0% {
    left: $loader-size;
    top:0
  }
  80% {
    left: 0;
    top:0;
  }
  85% {
    left: 0;
    top: -$loader-dot-size;
    width: $loader-dot-size;
    height: $loader-dot-size;
  }
  90% {
    width: ($loader-dot-size * 2);
    height: ($loader-dot-size - 5px);
  }
  95% {
    left: $loader-size;
    top: -$loader-dot-size;
    width: $loader-dot-size;
    height: $loader-dot-size;
  }
  100% {
    left: $loader-size; top:0;
  }
}

