@font-face {
  font-family: 'Segoe UI bold';
  src: url('./fonts/segoeuib.ttf');
}

@font-face {
  font-family: 'Segoe UI normal';
  src: url('./fonts/segoeui.ttf');
}

@font-face {
  font-family: 'Segoe UI light';
  src: url('./fonts/segoeuil.ttf');
}

$background-color: rgb(0, 188, 212);
$textColor: rgba(255, 255, 255, 0.870588);

// Loading 
$loader-size: 80px;
$loader-dot-size: ($loader-size / 5);
$loader-height: ($loader-dot-size * 2);
$loader-dot-color: #1fa67a;

html {
	background-color: $background-color;
  height: 100%;
  overflow-y: scroll;
  display: flex;
}

body {
  overflow-y: scroll;
}

::-webkit-scrollbar { 
    display: none; 
}

html, body, #app {
  margin: 0;
  padding: 0;
  width: 100%;	
  height: 100%;
}

div.container {
  height: 100%;
}

div.linkedIn {
  position: absolute;
  bottom: -40px;
  right: -1px;
  &>span {
    font-family: 'Segoe UI bold';
    color: rgba(255, 255, 255, 0.870588);
    margin-right: 7px;
  }
  &>a {
    text-decoration: none;
    color: white;
    padding: 2px 0px 2px 4px;
    font-family: 'Segoe UI bold';
    border-radius: 3px;
    background: #333;
    i {
      padding: 2px 2px;
      background: #0077b5;
      font-style: normal;
      font-family: 'Segoe UI bold';
      border-radius: 0 3px 3px 0;
      margin-left: 3px;
    }
  }
}

div.indexPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Segoe UI light';
  height: 100%;
  img {
    margin-left: 238.5px;
    height: 157px;
  }
  h1 {
    color: $textColor;
    font-weight: 600;
    font-size: 27px;
    line-height: 28px;
    padding-top: 19px;
    margin-bottom: 13px;
    letter-spacing: 0px;
    font-family: inherit;
  }
  h2 {
    color: $textColor;
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    padding-top: 7px;
    margin-bottom: 13px;
    letter-spacing: 0px;
    margin-top: 0;
    font-family: inherit;
    max-width: 353px;
    text-align: center;
  }
}

div.mainMenu {
  position: absolute;
  right: 10px;
  top: 10px;
  div.paper {
    background-color: $textColor !important;
    margin: 0 !important;
    display: flex !important;
  }
}

div.signupForm {
  width: 410px;
  margin: auto;
  margin-top: 150px;
  height: 200px;
  border-radius: 3px;
  background: $textColor;
  font-family: 'Segoe UI light';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Segoe UI light';
  color: rgba(0, 0, 0, 0.870588);
  position: relative;
  &.profile {
    height: 253px;
  }
  form {
    width: 366px;
  }
  div.form-group {
    margin-bottom: 15px;
    display: flex;
    label {
      min-width: 121px;
      &.error {
        color: #e61515;
      }
    }
    div {
      flex: 2;
    }
    input {
      outline: none;
      background: $textColor;
      border: none;
      margin-left: 17px;
      height: 25px;
      padding-left: 10px;
      font-family: 'Segoe UI light';
      color: rgba(0, 0, 0, 0.870588);
      border-radius: 3px;
      width: 218px;
      flex: 2;
      &[disabled] {
        background: rgb(222, 246, 249);
      }
    }
  }
  div.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  h1 {
    margin: 0;
    position: absolute;
    top: -55px;
    color: $textColor;
  }
}

@import "modules/loading.scss";
